<%- include('includes/header') %>
<!-- Header end  -->

<div class="py-3">
        <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
        <div class="m-4 m-lg-5">
        <h1 class="display-5 fw-bold">Employee Database</h1>
        <p class="fs-4">Use this interface to interact with and update the database.</p>
        </div>
        </div>
        </div>
    </div>


<section class="pt-4">
<div class="container ">
<div class="row row-cols-2">
<div class="mb-5">
<div class="card bg-light border-0 h-100">
<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
<div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mtn4"><i class="bi bi-plus-square-fill"></i></div>
<h2 class="fs-4 fw-bold">Add new employee</h2>
<form action="/add" method="POST">
<fieldset>
<div class="mb-3">
<label class="form-label">Employee ID</label>
<input class="form-control" type="text" id='empID' name="id"
required>
</div>
<div class="mb-3">
<label class="form-label">Name</label>
<input class="form-control" type="text" id="name" name="name"
required>
</div>
<button class="btn btn-primary" type="reset">Reset</button>
<button class="btn btn-primary" type="submit">Submit</button>
</fieldset>
</form>
</div>
</div>
</div>
<div class="mb-5">

<div class="card bg-light border-0 h-100">
<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
<div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mtn4"><i class="bi bi-filter-square-fill"></i></i></div>
<h2 class="fs-4 fw-bold">View an employee</h2>
<form action="/view" method="POST">
<fieldset>
<div class="mb-3">
<label class="form-label">Employee ID</label>
<input class="form-control" type="text" id="empID" name="id"
required>
<br /><br /><br /><br />
</div>
<div class="mb-3">
<button class="btn btn-primary" type="reset">Reset</button>
<button id="viewSubmit" class="btn btn-primary" type="submit">Submit</button>
</div>
</fieldset>
</form>
</div>
</div>
</div>
<div class="mb-5">
<div class="card bg-light border-0 h-100">
<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
<div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-
 n4"><i class="bi bi-cloud-upload-fill"></i></div>
<h2 class="fs-4 fw-bold">Update an employee</h2>
<form action="/update" method="POST">
<fieldset>
<div class="mb-3">
<label class="form-label">Employee ID</label>
<input class="form-control" type="text" id='empID' name="id"
required>
</div>
<div class="mb-3">
<label class="form-label">New Name</label>
<input class="form-control" type="text" id="name" name="name"
required>
</div>
<button class="btn btn-primary" type="reset">Reset</button>
<button id="updateSubmit" class="btn btn-primary" type="submit">Submit</button>
</fieldset>
</form>
</div>
</div>
</div>
<div class="mb-5">
<div class="card bg-light border-0 h-100">
<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
<div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-
 n4"><i class="bi bi-dash-square-fill"></i></div>
<h2 class="fs-4 fw-bold">Delete an employee</h2>
<form action="/delete" method="POST">
<fieldset>
<div class="mb-3">
<label class="form-label">Employee ID</label>
<input class="form-control" type="text" id='empID' name="id"
required>

<br><br>
</div>
<button class="btn btn-primary" type="reset">Reset</button>
<button class="btn btn-primary" type="submit">Submit</button>
<br><br><br>
</fieldset>
</form>
</div>
</div>
</div>
<div class="mb-5">
<div class="card bg-light border-0 h-100">
<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
<div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mtn4"><i class="bi bi-filter-square-fill"></i></i></div>
<h2 class="fs-4 fw-bold">Show all employees</h2>
<form action="/showAll" method="POST">
<fieldset>
<button id="showAll" class="btn btn-primary" type="submit">Show All</button>
<br><br><br>
</fieldset>
</form>
</div>
</div>
</div>
<div class="mb-5">
<div class="card bg-light border-0 h-100">
<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
<div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mtn4"><i class="bi bi-filter-square-fill"></i></i></div>
<h2 class="fs-4 fw-bold">Close connection to database</h2>
<form action="/close" method="GET">
<fieldset>
<button class="btn btn-primary" type="submit">Close connection
 </button>
<br><br><br>
</fieldset>
</form>
</div>
</div>
</div>
</div>
</div>
</section>

<!-- Footer-->
<%- include('includes/footer')%>